<h1> You have hit the user's Home page </h1>



<h3> Hello insert_user_name ! Its time to check-in with yourself</h3>
<h4> You wee recently feeling : insert the name for the last feeling they logged <h4>

<!--render fancy script to put user mantra -->
<h2>Remember...</h2>
<h3> Include User mantra </h3>

<h2>You are here because ... <h2>
<h3> Include User goal </h3>


<lets begin>
<h4> button to log in feeling (new_user_feeling)<h4>


<h5>links</h5>
<h6> Logout/Recent Feelings/Feelings Dictionary/How's Everyone Doing/ Trends and Patterns<h6>
