# <!--Header for Edit Profile/Feelings Log/Feelings Dictionary/How's Everyone Doing/ Trends and Patterns -->

<h2> dd <h2>

<h3> Hello <%= @user.name %>! Its time to check-in with yourself</h3>
<h4> You wee recently feeling : insert the name for the last feeling they logged <h4>

<% if @user.include?(:mantra)
<!--render fancy script to put user mantra -->
<h2>Remember...</h2>
<h3> Include User mantra </h3>

<h2>You are here because ... <h2>
<h3> Include User goal </h3>


<lets begin>
<h4> button to log in feeling (new_user_feeling)<h4>


<h5>links</h5>
<h5> <%=link_to "Logout", logout_path, method: "delete" %> <h5>
