<h1 class="center"> Sign Up Below <h1>

<% if @user.errors.any?  %>
    <h4 class = "center errors"><%= @user.errors.full_messages.to_sentence %></h4>   
<% end %>

 <h3>
    <%= render 'form' %>
</h3>
