/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.input{
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: #fcfcfc;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }

.footer{
text-align: center;
}
.header{
    text-align: center;
}

.form{
display: block;
text-align: center;
}
.button{
cursor: pointer;
color: black;
font-size: 12px;
width: 30%;
border: 0;
margin-top: 10px;
margin-left: 35%;
border-radius: 5px;
background-color: #eeebe2; 
/* background-color: #16302b; */
/* background-color: #4E5340; */
}

.button-2{
cursor: pointer;
color: white;
font-size: 12px;
width: 30%;
border: 0;
margin-top: 10px;
margin-left: 35%;
border-radius: 5px;
background-color: #3D0B37;
}

.login {
display: inline-block;
margin-left: auto;
margin-right: auto;
text-align: center;
overflow: hidden;
background-color:  #d8dde0;
padding: 40px 30px 30px 30px;
border-radius: 10px;
/* margin-left: 33%; */
/* margin-right: %; */
/* position: absolute; */
top: 50%;
left: 50%;
width: 400px;
}
.login br {
content: "";
display: block;
font-size: 200%;
}
  

body {
    font-family: 'Tenor Sans', sans-serif;
    /* font-family: 'Abel', sans-serif; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #3b0d11;
    background-color: #efecea;
}

header{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    /* text-align: center; */
    /* background-color: #2a2c24; */
    background-color: #d8dde0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fcfcfc;

}

.center{
    align-items: center;
    text-align: center;
}


 .field_with_errors { display: inline; }
 .errors { color: crimson;}
 .flash { color: crimson;}